@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-secondary-800;
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold;
  }
}

.dark-mode a {
  color: #90caf9;
}

.header.dark {
  background-color: #333;
  color: #fff;
}

@layer components {
  .btn {
    @apply px-6 py-3 font-medium rounded-md transition-all duration-300;
  }
  
  .btn-primary {
    @apply bg-primary-600 text-white hover:bg-primary-700;
  }
  
  .btn-secondary {
    @apply bg-secondary-100 text-secondary-800 hover:bg-secondary-200;
  }
  
  .btn-accent {
    @apply bg-accent-500 text-white hover:bg-accent-600;
  }
  
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
